@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,300italic,700,700italic);


body {
	/*background-color: #0BB0EF;*/
	overflow-x:hidden;
}

p, h1, h2, h3, a, h4 {
    font-family: Roboto;
    font-weight: 300;
}

.header-block {
	height: 140px;
	background-color: #515151;
}

.title-text {
	padding-top: 30px;
}

.header-block h1 {
	color: #fff;
}

.header-block h2 {
	color: #ccc;
}
.pagetitle {
	padding-top: 20px;
	padding-bottom: 20px;
}

h1 a {
	color: #0bb0ef;
	text-decoration: none;
}

h1 a:hover {
	text-decoration: none;
	color: #c0ffee;
}


/* Search bar*/

.search-bar {
	height: 60px;
	font-size: 20px;
}

.btn-success {
	height: 60px;
	font-size: 30px;
	border-radius: 0px;
	width: 60%;
}

.btn-success:hover {
	color: #515151;
	border-color: #515151;
}


.search-form {
	margin-top: 100px;
}

.search-form h3 a {
	color: #0bb0ef;
	text-decoration: none;
}

.search-form h3 a:hover {
	color: #515151;
	text-decoration: none;
}

/* Search results */

.results {
	height: 600px;
	overflow: auto;
	padding: 20px;
	background-color: #fff;
	border-radius: 5px;
	border: 1px solid #ccc;
}

.bordered {
	border: 4px solid #fff;
	height:600px;
}

input[type=checkbox] {
	height:20px;
	width: 20px;
}

label {
	font-size: 20px;
	padding-left: 10px;
	color: #ff0052;
}

.context {
	padding: 15px;
}

.result {
	border-bottom: 20px solid #0bb0ef;
}

/* builder */

textarea {
	font-size: 20px;
	color: #515151;
	border-radius: 5px;
	border: 1px solid #ccc;
	color: #ff0052;
}

/* Sticky footer styles
-------------------------------------------------- */

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #515151;


}

#footer .text-muted {
  margin: 20px 0;
  letter-spacing: 2px;
  color: #fff;
}


