{% extends 'base.html' %}
{% load staticfiles %}

{% block js_block %}
	<script type="text/javascript" src="{% static 'js/search.js' %}"></script>
{% endblock %}

{% block action %}
	{% url 'search:keyword_search' %}

{% endblock %}

{% block method %}
	GET
{% endblock %}

{% block input_container %}
	<div class="container">
		<div class="row">
			<div class="search-form">
					<div class="col-sm-7">	
							<input type="text" class="form-control search-bar" name="q" placeholder="Enter any Keyword or Phrases">
							{% if error %}
								<h3>{{ error }}</h3>
							{% endif %}

					</div>
					<div class="col-sm-3">
						<input type="submit" value="Search" class="btn btn-success">
					</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block container %}

{% endblock %}