{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block head %}
	<link rel="stylesheet" href="{% static 'css/home.css'%}" type="text/css">
	<link rel="stylesheet" href="{% static 'css/tweet.css'%}" type="text/css">
{% endblock %}

{% block js_block %}
	<script type="text/javascript" src="{% static 'js/tweets.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/search.js' %}"></script>
{% endblock %}

{% block content %}
	<div class='container'>
		<div class="box">
			<div class="col-md-3 input-group pull-right form-group" >
                <span class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
                <input type="text" class="filter form-control" placeholder="What you looking for?">
			</div>

			<div id="search_box" class="search-container">
				<input type="text" id="search" name="input-search" placehosder="Search...">
				<button class="btn btn-success" id="input-search">Search</button>
				<button id="getcsv" class="btn btn-warning">Download CSV</button>
				<div id="loading">Loading...</span></div>
				<div id="plot_graph"></div>
				<div id="tweets"></div>
			</div>	
		</div>
	</div>

	<!--plotting graph-->
	<div class="modal fade" id="plot-graph">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" style="padding:10px;margin-top:10px;">
                    	Graphical Analysis
                    </h4>
                     <button type="button" style="float:right;" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
                   
                </div>

                <div class="modal-body"></div>

            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
	</div>
	
{% endblock %}